# DATABASE POSTGRES
POSTGRES_USER=root
POSTGRES_PASSWORD=root
POSTGRES_DB=vytezeno

DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?schema=public

# AUTHJS
# Generate a new secret using `npx auth secret`
AUTH_SECRET=

# RESEND
# https://resend.com/ - Service for sending emails
AUTH_RESEND_KEY=

# NEXTJS
NEXT_PUBLIC_HOST=https://vytezeno.cz

# MISTRAL
# https://mistral.ai/
MISTRAL_API_KEY=

# Digital Ocean Spaces (S3)
# https://www.digitalocean.com/products/spaces
DO_SPACE_ENDPOINT=
DO_SPACE_KEY=
DO_SPACE_SECRET=
DO_SPACE_BUCKET=
